/*Font family*/
* {
  /*font-family: 'Roboto', sans-serif;*/
}

body {
  padding-top: 70px;
  color: #2F343C !important;
  background-color: #EEEEEE;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
}

/*Navbar background with padding*/
.navbar-inverse {
  background-color: #2F343C;
  padding: 6px;
}

/*navbar test color*/
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: 900;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ff9800;
}

/*Aligning the company logo*/
.navbar-brand > img {
  margin-top: -10px;
}


/*hamburger button*/
.navbar-inverse .navbar-toggle {
  border-color: #fff;
  color: #fff;
  font-weight: bolder;
}

/*jumbotron*/
.jumbotron {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    width: 80%;
    padding-right: 10%;
  }
}

/*car model size*/
.carBrandSize {
  margin-top: 20px;
  font-size: 16px;
}

@media screen and ( max-width: 320px) {
  .carBrandSizeSmall {
    margin-top: 10px;
    font-size: 120% !important;
    font-weight: bolder !important;
  }
  input[type="checkbox"]:checked + label span.checkbox::after {
    color: #ff9800;
  }
}

/*The 3 packages */
.packages {
  background-color: #ff9800;
  border: 1px solid #fff;
  padding: 20px;
  opacity: 0.8;
  font-family: 'PT Sans', sans-serif;
  transition: all .4s ease-in-out;
}

.packages:hover {
  background-color: #ff9800;
  opacity: 1;
}

.packages h3 {
  font-size: 16px;
  color: #2F343C;
  font-weight: 900;
}


.serviceRow {
  /*border: 2px solid #ff9800;*/
 /* padding: 15px;*/
}

/*Setting up our panels*/

.panel {
  /*border-top: 1px;*/
  /*border-right: 1px;
  border-bottom: 0;
  border-left: 1px;
  border-color: #ff9800 !important;
  border-style: solid;
  border-radius: 0;*/
}

uib-accordion .panel:last-child {
  /*border-bottom: 2px solid #ff9800;*/
}
.panel-heading {
  padding: 20px;
  background-color: #F2F2F2;
}
.panel-group .panel {
  border-radius: 0;
}

.panel-body {
  padding: 0;
}

.panel-title {
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
}

/*Table settings*/
.table {
  margin-bottom: 0;
}

table > tbody > tr:nth-child(odd) {
  background-color: #EEEEEE;
}

.table > tbody > tr > td {
  padding: 0 0 0 5px;
}

th > h4 {
  text-transform: uppercase;
}

/*Removing the underline effect from accordion*/
a.accordion-toggle {
  text-decoration: none;
}

/*setting our buttons*/
.btn-success {
  background-color: #ff9800;
  border:1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.btn-success:hover {
  background-color: #fff;
  transform: scale(1.1);
  border: 1px solid #ff9800;
  color: #2F343C;
}

/*Glyphicons*/
.glyphicon {
  color: #ff9800;
}

.glyph-image > h3, .glyphicon-circle-arrow-down {
  font-size: 300%;
  color: #fff;
}

[class = radio-inline] {
  color: #2f343c;
  font-size: 120%;
}

/*Footer*/
footer.footer {
  background-color: #06000a;
}


/*Radio and Checkbox*/
.section {
  margin: 0;
  padding-left: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2f343c;
}

.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}
.checkcontent label {
  position: relative;
}

/* Base styles for spans */
.checkcontent span::before,
.checkcontent span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Check-boxes */
.checkcontent span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: 10px;
  border: 3px solid #ff9800;
  transition: border-color .2s;
}
.checkcontent span.checkbox:hover::before {
  border: 3px solid #ff9800;
}
.checkcontent span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: 15px;
  top: 0;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #ff9800;
}

span.checkbox {
  padding-left: 50px;
}

label {
  margin-bottom: 0;
}


.flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}


@media screen and ( max-width: 760px) {
  .packagesSmall {
    background-color: #ff9800;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #fff;
  }
  .packagesSmall .glyphicon {
    color: #fff;
  }
  .packagesSmall h3 {
    color: #fff;
  }
}

a[ng-click^="main"] {
  text-decoration: none;
}

.packagesSmall {
  text-transform: uppercase;
}

/*.affix {
      top: 0;
      width: 100%;
      z-index: 9999;
  }*/