
<!-- Jumbotron for medium and larger devices -->
<div class="jumbotron hidden-xs">
    <div class="row">
        <div class="col-sm-5">
            <img src="images/ford.jpg" class="img-responsive" width="200" alt="">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <p class="carBrandSize">FORD <span class="carModel">ECO SPORT</span> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="radio-inline">
                    <input type="radio" name="fueltypeBig" id="inlineRadio1"> Petrol
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="fueltypeBig" id="inlineRadio2"> Diesel
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jumbotron for smaller devices -->
<div class="jumbotron visible-xs">
    <div class="row">
        <div class="col-xs-5">
            <img src="images/ford.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <p class="carBrandSizeSmall">FORD <span class="carModel">ECO SPORT</span></p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="radio-inline">
                        <input type="radio" name="fueltypeSmall" id="inlineRadio1"> Petrol
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="fueltypeSmall" id="inlineRadio2"> Diesel
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Packages for medium and larger screens -->
<div class="hidden-xs">
    <div class="col-sm-9">
        <div class="row text-center">
            <a href ng-click="main.showService()">
                <div class="col-sm-4 col-md-3 packages">
                    <div class="glyph-image">
                        <h3 class="glyphicon glyphicon-cog"></h3>
                    </div>
                    <h3>SERVICE</h3>
                </div>
            </a>
            <a href ng-click="main.showRepairs()">
                <div class="col-sm-4 col-md-3 packages">
                    <div class="glyph-image">
                        <h3 class="glyphicon glyphicon-wrench"></h3>
                    </div>
                    <h3>REPAIRS &amp; FIX</h3>
                </div>
            </a>
            <a href ng-click="main.showDenting()">
                <div class="col-sm-4 col-md-3 packages">
                    <div class="glyph-image">
                        <h3 class="glyphicon glyphicon-wrench"></h3>
                    </div>
                    <h3>DENTING &amp; </h3>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row serviceRow" ng-show="main.service">
                    <uib-accordion close-others="!oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="main.status.isHeader1Open" template-url="group-template.html">
                            <uib-accordion-heading>
                                10K or 1 Year <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.status.isHeader1Open, 'glyphicon-chevron-right': !main.status.isHeader1Open}"></i>
                            </uib-accordion-heading>
                            <div class="accordion-drop">
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-1">
                                                        <label for="checkbox-1"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-2">
                                                        <label for="checkbox-2"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-3">
                                                        <label for="checkbox-3"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-4">
                                                        <label for="checkbox-4"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-5">
                                                        <label for="checkbox-5"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-6">
                                                        <label for="checkbox-6"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-7">
                                                        <label for="checkbox-7"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-8">
                                                        <label for="checkbox-8"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="section">
                                                    <div class="checkcontent">
                                                        <input type="checkbox" id="checkbox-9">
                                                        <label for="checkbox-9"><span class="checkbox">Brake</span></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                            <uib-accordion-heading>
                                20K or 1 Year <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                            </uib-accordion-heading>
                            <div class="accordion-drop">
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="main.status.isCustomHeaderOpen" template-url="group-template.html">
                            <uib-accordion-heading>
                                30K or 3 Years <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.status.isCustomHeaderOpen, 'glyphicon-chevron-right': !main.status.isCustomHeaderOpen}"></i>
                            </uib-accordion-heading>
                            <div class="accordion-drop">
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row repairRow" ng-show="main.repairs">
                    <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                </div>
            </div>
        </div>
        <p ng-show="main.repairs">REPAIRS Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis officia, placeat, quia quos eum dicta magni maiores veritatis! At qui quibusdam enim nulla id laudantium a, cum, totam animi rerum.</p>
        <p ng-show="main.denting">DENTING Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis officia, placeat, quia quos eum dicta magni maiores veritatis! At qui quibusdam enim nulla id laudantium a, cum, totam animi rerum.</p>
    </div>
</div>

<!-- Packages for smaller devices -->
<div class="visible-xs">
    <div class="row">
        <a href ng-click="main.showService()" class="col-xs-12">
            <div class="packagesSmall">
                <h3><span class="glyphicon glyphicon-cog"></span> Sevices</h3>
            </div>
        </a>
        <div class="col-xs-12 smallService" ng-show="main.service">
            <uib-accordion close-others="!oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="main.status.isHeaderSmall1" template-url="group-template.html">
                    <uib-accordion-heading>
                        10K or 1 Year <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.status.isHeaderSmall1, 'glyphicon-chevron-right': !main.status.isHeaderSmall1}"></i>
                    </uib-accordion-heading>
                    <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                </div>
            </uib-accordion>
        </div>
        <a href ng-click="main.showRepairs()" class="col-xs-12">
            <div class="packagesSmall">
                <h3><span class="glyphicon glyphicon-cog"></span> repairs &amp; fixes</h3>
            </div>
        </a>
        <div class="col-xs-12 smallService" ng-show="main.repairs">
            <!-- <uib-accordion close-others="!oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="main.status.isHeaderSmall2" template-url="group-template.html">
                    <uib-accordion-heading>
                        10K or 1 Year <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.status.isHeaderSmall2, 'glyphicon-chevron-right': !main.status.isHeaderSmall2}"></i>
                    </uib-accordion-heading>
                    <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                </div>
            </uib-accordion> -->
            <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
        </div>
        <a href ng-click="main.showDenting()" class="col-xs-12">
            <div class="packagesSmall">
                <h3><span class="glyphicon glyphicon-cog"></span> denting</h3>
            </div>
        </a>
        <div class="col-xs-12 smallService" ng-show="main.denting">
            <uib-accordion close-others="!oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="main.status.isHeaderSmall3" template-url="group-template.html">
                    <uib-accordion-heading>
                        10K or 1 Year <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.status.isHeaderSmall3, 'glyphicon-chevron-right': !main.status.isHeaderSmall3}"></i>
                    </uib-accordion-heading>
                    <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">General Checkup &amp; Cleaning</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Parts to be replaced</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4 class="text-center">Recommended</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" value="">Brake
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="btn btn-success pull-right">GET ESTIMATE</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>



<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <div class="panel-heading">
            <h4 class="panel-title" style="color:#2F343C">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{heading}}
                </span>
            </h4>
          </div>
          </a>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
</script>